<h1> Burgers</h1>

<form id="burgerForm">
    <div class="form-group">
        <label for="burgerName">Name of Burger:</label>
        <input type="text" id="burgerName" name="burger_name">
    </div>
      <button type="submit" id="submit">Add Cat</button>
</form>